deployment
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(82,102,76,1) 0%, rgba(51,61,45,1) 35%, rgba(57,67,69,1) 100%);
    transition: ease-in-out 1s;
    pointer-events: all;
    z-index: 1;

    .title
    {
        position: absolute;
        font-family: Lexend;
        font-size: 32px;
        color: #1CB179;
        top: 25%;
    }
}

.deploymentContainer {
    padding: 8px;
    font-family: Lexend;

    .item {
        align-items: center;
        background-image: url( /ui/hidden/box-grey.png );
        background-size: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        height: 400px;
        padding: 64px;
        margin: 8px;

        .title {
            font-family: Lexend;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            color: white;
            position: relative;
            top: auto;
            left: auto;
            margin-bottom: 32px;
        }

        .desc {
            font-family: Lexend;
            font-weight: 100;
            text-align: center;
            color: #CCDCC7;
            font-size: 16px;
            width: 100%;
            flex-grow: 1;
            text-align: center;
        }

        .button {
            align-items: center;
            background-image: url( /ui/hidden/button-primary.png );
            background-size: 100%;
            box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            cursor: pointer;
            height: 50px;
            justify-content: center;
            min-width: 200px;
            opacity: 1;
            transition: opacity 0.15s ease;


            label {
                font-family: Lexend;
                font-size: 16px;
                font-weight: bold;
                color: white;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.team_hidden
{
    deployment
    {
    }

    .deploymentContainer
    {
        .item
        {
            background-image: url( /ui/grayscale/box-gs.png );
            background-size: 100%;
        }

        /*.button
        {
            background-color: #caab4d;

            &:hover
            {
                box-shadow: 0px 0px 16px 1px rgba(185, 174, 114, 0.07);
                background-color: #b9ae72;
            }
        }*/
    }
}