nameplates
{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;

	nameplate
	{
		position: absolute;
		font-weight: 500;
		color: white;
		font-size: 40px;
		transform-origin: 50% 0%;
		border-radius: 10px;
		align-items: center;
		justify-content: center;
		flex-direction: row-reverse;
		padding: 32px;

		label
		{
			padding: 1px 60px;
			padding-left: 40px;
		}
		
		.team_hidden
		{
			font-family: Lexend;
		}
		
		.team_iris
		{
			font-family: Lexend;
		}
	}
}

.team_iris
{
	nameplate
	{
		background-image: url( /ui/green/player.png );
		background-size: 100%;
		font-family: Lexend;
	}
}

.team_hidden
{
	nameplate
	{
		background-image: url( /ui/grayscale/player-gs.png );
		background-size: 100%;
		font-family: Lexend;
	}
}
