.roundContainer {
    background-image: url( /ui/hidden/top-bar-iris.png );
    background-size: 100%;
    font-family: Lexend;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 48px;
    width: 410px;
    height: 44px;

    label {
        align-items: center;
        color: #ECECEC;
        font-size: 20px;
        text-shadow: 0px 2px rgba(#000,0.5);

        &.roundName {
            width: 50%;
            padding-right: 50px;
            text-align: right;
            left: 0;
        }

        &.timeLeft {
            padding-left: 50px;
            right: 0;
            text-align: left;
            width: 50%;
        }
    }



    &.roundNameOnly {
        .roundName {
            text-align: center;
            margin-right: 0px;
            left: auto;
            padding: 0;
            width: 100%;
        }

        .timeLeft {
            display: none;
        }

        .icon {
            display: none;
        }
    }

    .icon {
        position: absolute;
        background-image: url( /ui/hidden/icon-iris.png );
        background-size: 100%;
        width: 64px;
        height: 64px;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

roundInfo
{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
}

.team_iris
{
    
}

.team_hidden
{
    .roundContainer
    {
        background-image: url( /ui/hidden/top-bar-hidden.png );

        .icon
        {
            background-image: url( /ui/hidden/icon-hidden.png );
        }
    }
}
