stamina {
	align-items: center;
	color: #fff;
	height: 20px;
	margin-bottom: 2px;
	width: 100%;

	.outerBar {
		width: 180px;
		height: 16px;
	}

	.innerBar {
		background-image: url( /ui/hidden/player-stamina.png );
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		min-width: 1px;
		opacity: 1;
		transition: opacity 0.5s ease;
	}

	.text {
		color: #ECECEC;
		font-size: 16px;
		font-family: Lexend;
		font-weight: 500;
		text-shadow: 0 1px 1px rgba(#000,0.2);
		position: absolute;
		left: 32px;
	}

	.icon {
		background-image: url( /ui/hidden/icon-stamina.png );
		background-size: 100%;
		margin-right: 8px;
		width: 20px;
		height: 20px;
	}

	&.low-stamina {
		.innerBar {
			opacity: 0.5;
		}
	}

	&.hidden {
		display: none;
	}
}
