stats
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(82,102,76,1) 0%, rgba(51,61,45,1) 35%, rgba(57,67,69,1) 100%);
    transition: ease-in-out 1s;
    z-index: 6;

    .winner
    {
        position: absolute;
        font-size: 32px;
        color: #1CB179;
        top: 25%;
    }
}

.statsContainer
{
    padding: 8px;

    .item
    {
        background-image: url( /ui/green/box.png );
        background-size: 100%;
        width: 300px;
        height: 300px;
        margin: 8px;
        font-family: Roboto;
        justify-content: center;

        .title
        {
            font-size: 18px;
            top: 150px;
            color: #CCDCC7;
        }

        .playerName
        {
            position: absolute;
            font-size: 32px;
            margin-top: 64px;
            bottom: 80px;
            color: #EDCD25;
        }

        .icon
        {
            position: absolute;
            margin-top: 64px;
            width: 60px;
            height: 60px;
            bottom: 0px;
            top: 0px;

            &.first_death
            {
                background-image: url( /ui/icons/icon-death.png );
                background-size: 100%;
            }

            &.hidden_killer
            {
                background-image: url( /ui/icons/icon-hunter.png );
                background-size: 100%;
            }
        }

        .text
        {
            position: absolute;
            margin-top: 72px;
            color: #CCDCC7;
            font-size: 40px;
        }
    }
}

.team_iris
{
    .item
    {
        font-family: Lexend;
    }

    .winner
    {
        font-family: Lexend;
    }
}

.team_hidden
{
    .item
    {
        background-image: url( /ui/grayscale/box-gs.png );
        font-family: Lexend;
    }

    .winner
    {
        font-family: Lexend;
        color: #CAAB4D;
    }
}